:root > * {
    --md-code-hl-string-color: #98C379;
    --md-code-hl-keyword-color: #C792EA;
    --md-code-hl-variable-color: #6d98d9;
    --md-code-hl-function-color: #6d98d9;
    --md-code-hl-name-color: #e9c985;
}

.md-nav {
    font-size: 14px;
    line-height: 1.4;
}

.md-nav__link {
    display: inline-flex;
}

.md-typeset {
    font-size: .7rem;
    line-height: 1.5;
}

.md-typeset code,
.md-typeset pre {
    color: var(--code-color);
}

.text-center {
    text-align: center !important;
}

.md-typeset table:not([class]) th {
    color: var(--table-foreground);
    background-color: var(--table-background);
}

[data-md-color-scheme="slate"] {
    --code-color: #a47df8;
    --md-typeset-a-color: #7c90ff; /* links */
    --table-foreground: #a3acdf; /* table header (text) */
    --table-background: #272e53; /* table header backgrounds */
}