:root > * {
  --md-code-hl-string-color: #7ac39e;
  --md-code-hl-keyword-color: #7ac39e;
  --md-code-hl-variable-color: #6d98d9;
}

@media only screen and (min-width: 76.25em) {
  .md-main__inner {
    max-width: none;
  }
  .md-sidebar--primary {
    left: 0;
  }
  .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;   
  }
}