name: ci

on:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v5
        with:
          python-version: 3.x

      - run: pip install zensical

      - run: zensical build -f docs/nova.yml
      - run: zensical build -f docs/invui.yml
      - run: zensical build -f docs/invui2.yml
      - run: zensical build -f docs/cbf.yml

      - name: Deploy Docs
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: docs/site/